{% load static %}
<!DOCTYPE html>
<html "lang=eng">
    <head>
        <title>
            {% block title %}{% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/list.css' %}" />
    </head>
    <body>
        {% block content %}{% endblock content %}
        <footer>To doing since 1989. Never done</footer>
    </body>
</html>
