
header {
    padding: 0px;
}
nav {
    background: linear-gradient(to left, color(slategrey), color(grey));
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 16px;
}

nav > a {
    color:white;
    text-decoration-line: none;
}

img {
    width:200px;
    height:200px;
}

body {
    margin: 0px;
    padding: 0px;
    background: radial-gradient(rgb(255, 255, 255), rgb(158, 158, 158));
}

main {
    padding: 24px;
    background: radial-gradient(rgb(238, 238, 238), rgb(65, 65, 65));
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 0px;
    background-color: rgb(192, 192, 192);
    text-align: left;
}

tr:nth-child(even) {
    background-color: lightgray;
}

h1 {
    color:rgb(255, 255, 255);
    background: -webkit-linear-gradient(45deg,rgb(235, 235, 235), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 > a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.item-1 {
    box-sizing: border-box;
    grid-row: 1fr;
    grid-column: 1fr;
}

.item-2 {
    box-sizing: border-box;
    grid-row: 1fr;
    grid-column: 1fr;
}

.item-3 {
    box-sizing: border-box;
    grid-row: 1fr;
    grid-column: 1fr;
}

.item-4 {
    box-sizing: border-box;
    grid-row: 1fr;
    grid-column: 1fr;
}

.item-5 {
    box-sizing: border-box;
    grid-row: 1fr;
    grid-column: 1fr;
}

h4 {
    padding-left:5px;
    padding-right: 5px;
    padding-bottom: 0px;
}

li {
    padding: 2px;
}
