{% extends 'base.html' %}
{% block title %}
 Create a list
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Create a to-do list</h1>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Submit</button>
        </form>
    </main>
{% endblock content %}
