{% extends 'base.html' %}
{% block title %}
 Todo List: {{ list_details.name }}
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1> {{ list_details.name }}</h1>
                <p>
                    <a href="{% url 'todo_list_list' %}">Home</a>
                    <a href="{% url 'todo_list_update' list_details.id %}">Edit</a>
                    <a href="{% url 'todo_list_delete' list_details.id %}">Delete</a>
                </p>
            <table>
                <thead>
                    <th>Task</th>
                    <th>Due</th>
                    <th>Finished?</th>
                </thead>
                <tbody>
                    {% for item in list_details.items.all %}
                        <tr>
                            <td><a href="{% url 'todo_item_edit' item.id %}">{{ item.task }}</a></td>
                            <td> {{ item.due_date }} </td>
                            <td> {{ item.is_completed }} </td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
