{% extends 'base.html' %}
{% block title %}
 Updating {{ list_details.name }}
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Update {{ list_details.name }}</h1>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Submit</button>
        </form>
    </main>
{% endblock content %}
