{% extends 'base.html' %}
{% block title %}
 Editing a task
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Edit a task</h1>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Submit</button>
        </form>
    </main>
{% endblock content %}
